<div class="games-container">
  <ul class="game">
    <% @games.each do |game| %>
		<li class="game-item">
        <div class="game-card">
            <div class="game-name">
              <h2><%= game.title %></h2>
              <p class="game-description"><%= game.description %></p>
            </div>
            <div class="game-actions">
              <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
            </div>
          </div>
		  </li>
    <% end %>
  </ul>
</div>
<div class="new-game-button-container">
  <%= link_to 'Add a new game', new_game_path, class: 'new-game-button' %>
</div>
